body {
  background-color: #F9B6EE;
  color: #000000;
  font-weight: 200;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;

}
h1 { background-color: #A7E9ED;
}
h2 { background-color: #A7E9ED;
}
h3 { background-color: #A7E9ED;
}
h4 { background-color: #A7E9ED;
}
a { background-color: #CD9EE2;
}


#link {
  color: #A7E9ED
}

#linktwo {
  color: #A7E9ED
}
