div.name {
    font-size: 3.5em;
    width: 70%;
    background-color: pink
}
div.about {
  font-size: 3em;
  width: 100%;
  background-color: #CBC3E3
}
div.Fav {
  font-size: 2.5em;
  width: 60%;
  background-color: #A9CCE3
}
div.Goals {
  font-size: 2em;
  width: 50%;
  background-color: #85C1E9
}
div.Fun {
  font-size: 1.5em;
  width: 40%;
  background-color: #48C9B0
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  opacity: 0.5;
}
img.LinkedIn1 {
  opacity: 0.1;
}
img.LinkedIn2 {
  opacity: 0.2;
}
img.LinkedIn3 {
  opacity: 0.3;
}
img.LinkedIn4 {
  opacity: 0.4;
}
img.LinkedIn5 {
  opacity: 0.5;
}
img.LinkedIn6 {
  opacity: 0.7;
}
img.LinkedIn7 {
  opacity: 0.8;
}
img.LinkedIn8 {
  opacity: 1;
}
