body {
  background-color: #D8E2DC;
  color: #957DAD;
  font-weight: 200;
  font-family: "Courirt New", "Lucida Console", "Monaco";
  font-size: medium;
}
h1 { background-color: #FFEFD8;
}
h2 { background-color: #FFCCCB;
}
h3 { background-color: #FFDDE4;
}
h4 { background-color: #FFE9EE;
}
#link {
  color: #000000
}
