body {
  background-color: #ED9BC7;
  color: #000000;
  font-weight: 200;
  font-family: "Times New Roman", Times, serif;
  text-align: center;

}
img {
  max-width: 30%;

  border: 3px solid black;
}

button.days{
    border-radius: 100px;
    text-align: center;
}
