
body {
  font-size: 16px;
  width: 600px;
  margin: 25px auto;
  background-color: #FFCAE5;
  color: black;
  font-weight: 200;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.links a {
     background: white;
     color: black;
     font-family: "Times New Roman", Times, serif;
     font-size: 15px;
     text-decoration: none;
     padding: 4px 15px;
     border: 1px solid #FF77BC;
 }

Button {
  color: black;
  margin: 30px;
  padding: 7px 35px;
  font: 300 150% langdon;
  background: white;
  border: 2px solid #FF77BC;
}

img {
  max-width: 40%;
  border: 3px solid #FF77BC;
}
