div.name {
    font-size: 3.5em;
    width: 70%;
    background-color: pink
}
div.about {
  font-size: 3em;
  width: 100%;
  background-color: #CBC3E3
}
div.skills {
  font-size: 2.5em;
  width: 60%;
  background-color: #A9CCE3
}
div.Experience {
  font-size: 2em;
  width: 50%;
  background-color: #85C1E9
}
div.Fun {
  font-size: 1.5em;
  width: 40%;
  background-color: #48C9B0
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  opacity: 0.5;
}
 body {
   font-size: 16px;
   width: 600px;
   margin: 25px auto;
   background-color: #FFF5F2;
   color: #99621B;
   font-weight: 200;
   font-family: "Times New Roman", Times, serif;
   text-align: center;
 }

 .links a {
      background: white;
      color: #99621B;
      font-family: "Times New Roman", Times, serif;
      font-size: 15px;
      text-decoration: none;
      padding: 4px 15px;
      border: 1px solid #A68D83;
  }


 img {
   max-width: 40%;
   border: 3px solid #A68D83;
 }
#new {
  color: #99621B;
  font-family: "Times New Roman", Times, serif;
}
